# Ne pas versionner les dossiers de build
build/
zephyr/

# Fichiers temporaires de west
*.log
*.pyc
*.swp
*.swo
*.user

# Fichiers générés
*.o
*.elf
*.hex
*.bin

# Dossiers temporaires d'IDE (VS Code, etc.)
.vscode/
.idea/
